body {
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #d0e4fe;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	display: block;
}

p {
	text-indent: 10px;
}

#wrapper #main {
	width: 90%;
	/*text-align: right;*/
	padding-left: 40px;
	padding-right: 40px;
	min-height: 600px;
	padding-top: 20px;
	display: table;
	margin: auto;
}

#wrapper #main #right {
	float: right;
	width: 30%;
	display: block;
	word-wrap: break-word;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
	background-color: #BDBDBD;
	margin: 20px;
}

#wrapper #main #left {
	float: left;
	width: 60%;
	display: block;
	padding-right: 20px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
	background-color: #BDBDBD;
	text-align: left;
	margin-top: 20px;

}

#main #footer {
	float: left;
	width: 100%;
	font-size: 16px;
}

body, ul {
	display: inline;
	text-align: center;
}

/*Navigation*/

#wrapper #nav {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #FA5858;
	border-style: solid;
	border-color: black;
	margin-left: 30px;
	margin-right: 30px;
}

ul#head1 {
	background-color:#F00;
	padding-right: 40px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
}

ul#head2 {
	background-color: #FF0;
	padding-right: 40px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
}

ul#head3 {
	background-color: #03F;
	padding-right: 40px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
}

ul#head4 {
	background-color: #0C3;
	padding-right: 40px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
}

ul#head5 {
	background-color: orange;
	padding-right: 40px;
	border-style: solid;
	border-color: black; 
	border-radius: 10px;
}

a#home:link {color: #03F; text-decoration: none; }
a#home:active {color: #0C3; text-decoration: none; }
a#home:visited {color: black; text-decoration: none; }
a#home:hover {color: #03F; text-decoration: none; }

a#lineup:link {color: #0C3; text-decoration: none; }
a#lineup:active {color: orange; text-decoration: none; }
a#lineup:visited {color: black; text-decoration: none; }
a#lineup:hover {color:  #0C3; text-decoration: none; }

a#about:link {color: orange; text-decoration: none; }
a#about:active {color: #F00; text-decoration: none; }
a#about:visited {color: black; text-decoration: none; }
a#about:hover {color: orange; text-decoration: none; }

a#bookings:link {color: #F00; text-decoration: none; }
a#bookings:active {color: #FF0; text-decoration: none; }
a#bookings:visited {color: black; text-decoration: none; }
a#bookings:hover {color: #F00; text-decoration: none; }

a#sponsors:link {color: #FF0; text-decoration: none; }
a#sponsors:active {color: #03F; text-decoration: none; }
a#sponsors:visited {color: black; text-decoration: none; }
a#sponsors:hover {color: #FF0; text-decoration: none; }
